*{
    
    margin-bottom: 100px;
    text-decoration: none;
    color: #000;
    font-family: 'Courier New';
}
h1{
    margin-bottom: 0;
    text-align: center;
}
h3{
    text-align: center;
}
.girls{
    left: 0;
    margin-bottom: 0;
    margin-left: 200px;
    border: none;
    color: #000;
    background-color: white;
    size: 200px;
    border-radius: 10px;
}
button{
    font-family: 'Gill Sans';
}
.boys{
   margin-left: 500px;
    margin-bottom: 0;
    border: none;
    color: #000;
    background-color: white;
    size: 200px;
    border-radius: 10px;
    
}
div{
    background-color: white;
    width: 100%;
    
}
body{
    background-color: rgb(35, 116, 238);
}

.Gender{
    margin-bottom: 50px;
    border-radius: 10px;

}

img{
    size: 100px;
    height: 300px;
    width: 500px;
    margin-bottom: 100px;
}

.quote{
font-weight: 500px:
    Font-size
}
